body{
    background-color: #f5f5f5;
    font-family: sans-serif;
    color: #626262;
    min-width: 320px;
}


/*============index.html============*/
/*===========header================*/

header>nav.menu-top{
    height: 120px;
    margin-bottom: 0;
    position: relative;
}
.logo>.brand-top{
  display: block;
}
.logo h1{
    font-family: 'OFLGoudyStM';
    font-size: 36px;
    padding-top: 35px;
    padding-left: 10px;
    margin: 0;
}
div.top-nav{
    padding: 0;
    height: auto;
}
ul.top-nav-panel{
    padding: 0;
    margin: 0;
}
ul.top-nav-panel>li{
    display: inline-block;
    line-height: 120px;
    padding: 0 15px;
}
ul.top-nav-panel>li>a{
    font: 400 16px / 10px sans-serif;
    color: #626262;
    text-transform: uppercase;
}
a.brand-top{
    padding: 0;
}
.banner{
    background-image: url(../images/banner-index.jpg);
    background-size: cover;
    background-position: top center;
    height: 200px;
    padding-top: 50px;
}
.title-servise{
    
}
.title-servise>h1{
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    background-color: #626262;
}
/*================section.full-info===========*/
.banner-side .wrap-banners-img{
    padding-left: 40px;
}
.wrap-banners-img>img{
    border-bottom: 3px solid #78589b;
}
.line-top{
    width: 50%;
    border-bottom: 1px dashed #8e8c8c;
    margin-top: 10px;
}
.info-group{
    padding: 0 15px;
}
.info-group>h2{
    font-family: "OFLGoudyStM";
    font-size: 25px;
    margin-top: 10px;
    color: #2d2d2d;
}
.info-group>p{
    font-size: 14px;
    
}
.info-group>ul.items{
    list-style-image: url(../images/list-item.jpg);
}
/*============footer==============*/
footer.footer-home{
    margin-top: 35px;
    padding: 50px 0;
    background-color: #fff;
}
.social-link>ul>li{
    display: inline-block;
    padding: 5px 20px;
}
.social-link>ul>li>a{
    text-transform: uppercase;
    font-size: 12px;
    color: #5e3b88;
    font-family: "OFLGoudyStM";
}
.menu-bottom>nav>ul>li{
    display: inline-block;
    padding: 0 7px;
    border-right: 1px solid #626262;
    color: #626262;
    height: 12px;
    line-height: 12px;
}
.nav-bottom{
    padding: 0;
}
.menu-bottom>nav>ul>li:last-child{
    border-right: none;
}
.menu-bottom>nav>ul>li>a{
    padding: 0;
    text-transform: uppercase;
    color: #626262;
}
.payment{
    padding-top: 20px;
}


/*====================home.html====================*/
/*====================header=======================*/
.home-title{
    height: 827px;
    background-image: url(../images/logo-home.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 80px;
}

.title-block{
    margin-top: 200px;
}
.title-block>h1{
    color: #ffffff;
    font-size: 36px;
    padding-bottom: 30px;
}
.title-block h1>mark{
    font-family: "OFLGouduStM";
    background-color: rgba(71, 39, 106, 0.82);
    color: #fff;
    font-weight: 100;
    font-style: italic;
    border-radius: 3px;
}
.title-block>p{
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}


/*=================section.more-info===================*/
.offer{
    margin-bottom: 50px;
}
.offer-block{
    padding: 50px;
    margin-bottom: 50px;
}
.offer-block>h2{
    font-family: "OFLGoudyStM";
    text-transform: uppercase;
    font-size: 20px;
    color: #626262;
}
.info-block{
    height: 280px;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
.info-block:hover{
    box-shadow: 2px 2px 3px 3px #d8d5d5;
}
.info-block>p{
    padding-bottom: 20px;
}
.info-block>h2{
    text-transform: uppercase;
    font-size: 20px;
    color: #2d2d2d;
    font-weight: bold;
    padding: 10px 0;
}
.info-block>div>img{
    display: block;
    margin: 0 auto;
}

/*=============About Us Page======*/
.team{
    margin-top:30px;
}
.person-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 15px
}
.person-title:first-child .person-info{
    margin-top: 30px;
}
.title{
    background-color: #78589b;
    padding: 0;
    height: ;
    margin-right: 15px;
    
}
.title:first-child{
    margin-top: 30px;
}
.name{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
}
.person{
    padding-left: 10px;
}
.person-name{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.name>.person-name>p.describe{
    font-size: 12px;
}
.name>.person-name>h3,
.name>.person-name>p{
    font-size: 20px;
    color: #fff;
    font-family: "Times New Roman";
    font-weight: normal;
    margin: 0;
}
.person-info{
    padding-bottom: 20px;
}
.person-describe>h4{
    font-size: 20px;
    color: #2d2d2d;
}
.person-describe>p>a{
    text-decoration: underline;
    color: #1e84b9;
}



/*=========Resources page===========*/
/*====Header====*/
.title-resource{
    margin-top: 200px;
}
.title-resource>h1{
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    background-color: #626262;
}
.resourse{
   padding-bottom: 150px;
}
.resource-block {
    margin-bottom: 30px;
}
.resource-block .line-top {
    width: 80%;
}
.resource-block>h3{
    font-family: "OFLGoudyStM";
    font-size: 20px;
    color: #2d2d2d;
}

ul.program-list,
ul.group-list{
    color: #1e84b9;
}
ul.list>li>a{
    font-size: 14px;
    text-decoration: underline;
}










/*============MEDIA QUERIES==========*/

/*================Large device=========*/
@media only screen and (max-width:1200px){
/*===========Index page=============*/
    
/*========Home page=======*/
    .logo>a>img.brand-logo{
        max-height: 90px;
        max-width: 90px;
        margin-bottom: -1px;
    }
    .logo>h1{
        padding-top: 25px;
    } 
   ul.top-nav-panel{
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        background-color: #8c8a8b;
    }
    ul.top-nav-panel>li{
        height: auto;
        line-height: 50px;
    }
    ul.top-nav-panel>li>a{
        color: #fff;
    } 
}

/*=================Laptop======================*/
@media only screen and (max-width:992px){
/*===========Index page=============*/
    
/*========Home page=======*/
    header{
        margin-bottom: 0;
    }
     header>nav.menu-top{
        height: 90px;
    }
    .offer-block{
        margin-bottom: 0;
    }
    .offer-block>h2{
        margin-top: 0;
    }
   div.wrap-img>img{
        margin: 0 auto;
    }
    .info-block {
    height: auto;
    width: 80%;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    }

/*    Resourse Page*/
    .title-resource>h1{
        font-size: 20px;
    }
}

/*=============Tablet==================*/
@media only screen and (max-width:767px){
/*===========Index page=============*/
   .title-servise{
        text-align: left;
    }
    .title-servise>h1{
        font-size: 18px;
    } 
    section.full-info{
        padding: 20px 0;
    }
    .line-top{
        padding-bottom: 20px;
    }
/*========Home page=======*/
    
     header>nav.menu-top{
        height: 90px;
        z-index: 9999;
    }
    .logo>a>img.brand-logo{
        height: 90px;
        width: 90px;
        margin-right:15px;
        margin-top: -1px;
    }
    div.logo>button.menu-btn{
        margin: 22px 8px 32px 0;
    }
    ul.top-nav-panel{
        position: static;
    }
    .person-title{
        display: block;
    }
    
    
}

/*==================Phone===============*/
@media only screen  and (max-width:480px){
/*===========Index page=============*/
    .banner-index{
        padding-top: 0;
    }
    .banner{
        padding: 20px 0;
    }
    .line-top{
        width: 100%;
    }
    .wrap-banners-img{
        padding-left: 0;
    }
    .wrap-banners-img>img{
        margin: 0 auto;
        display: block;
    }
    
/*========Home page=======*/  
    header>nav.menu-top{
        height: 60px;
    }
    .logo>a>img.brand-logo{
        height: 60px;
        width: 60px;
        margin-right:5px;
    }
    div.logo>button.menu-btn{
        margin: 12px 8px 13px 0;
    }
    .logo>h1{
        font-size: 25px;
        padding-top: 20px;
    }
    ul.top-nav-panel{
        width: 100%;
        text-align: center;
        padding: 0;
        background-color: #8c8a8b;
        -webkit-transition: .3s;
        transition: .3s;
    }
    ul.top-nav-panel>li{
        display: block;
        height: auto;
        padding: 5px 0;
        line-height: 25px;
    }
    ul.top-nav-panel>li:hover{
        background-color: #acabab;
    }
    ul.top-nav-panel>li>a{
        display: inline-block;
        width: 100%;
    }
    .social-link>ul>li{
        padding: 5px 10px;
    }
  /*    Resourse Page*/
    .title-resource>h1{
        font-size: 18px;
    }
}

/*=========Custom,iPhone==========*/
@media only screen and (max-width:320px){
/*===========Index page=============*/
    .title-servise>h1{
        font-size: 16px;
    }
/*========Home page=======*/ 
  
}
}
