/*Mobile first Method*/
/*================Large device=========*/
@media only screen and (max-width:1200px){
/*========Home page=======*/
    .logo>a>img.brand-logo{
        max-height: 90px;
        max-width: 90px;
        margin-bottom: -1px;
    }
    .logo>h1{
        padding-top: 25px;
    } 
   ul.top-nav-panel{
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        background-color: #8c8a8b;
    }
    ul.top-nav-panel>li{
        height: auto;
        line-height: 50px;
    }
    ul.top-nav-panel>li>a{
        color: #fff;
    } 
}

/*=================Laptop======================*/
@media only screen and (max-width:992px){
/*========Home page=======*/
    header{
        margin-bottom: 0;
    }
     header>nav.menu-top{
        height: 90px;
    }
    .offer-block{
        margin-bottom: 0;
    }
    .offer-block>h2{
        margin-top: 0;
    }
   div.wrap-img>img{
        margin: 0 auto;
    }
    .info-block {
    height: auto;
    width: 80%;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    }
    footer.footer-home{
        padding-top: 0;
    }  
}

/*=============Tablet==================*/
@media only screen and (max-width:767px){
/*========Home page=======*/
    
     header>nav.menu-top{
        height: 90px;
        z-index: 9999;
    }
    .logo>a>img.brand-logo{
        height: 90px;
        width: 90px;
        margin-right:15px;
        margin-top: -1px;
    }
    div.logo>button.menu-btn{
        margin: 22px 8px 32px 0;
    }
    ul.top-nav-panel{
        position: static;
    }
    
    
    
}

/*==================Phone===============*/
@media only screen  and (max-width:480px){
/*========Home page=======*/  
    header>nav.menu-top{
        height: 60px;
    }
    .logo>a>img.brand-logo{
        height: 60px;
        width: 60px;
        margin-right:5px;
    }
    div.logo>button.menu-btn{
        margin: 12px 8px 13px 0;
    }
    .logo>h1{
        font-size: 25px;
        padding-top: 20px;
    }
    ul.top-nav-panel{
        width: 100%;
        text-align: center;
        padding: 0;
        background-color: #8c8a8b;
        -webkit-transition: .3s;
        transition: .3s;
    }
    ul.top-nav-panel>li{
        display: block;
        height: auto;
        padding: 5px 0;
        line-height: 25px;
    }
    ul.top-nav-panel>li:hover{
        background-color: #acabab;
    }
    ul.top-nav-panel>li>a{
        display: inline-block;
        width: 100%;
    }
    .social-link>ul>li{
        padding: 5px 10px;
    }
}

/*=========Custom,iPhone==========*/
@media only screen and (max-width:320px){
/*========Home page=======*/    
}
